/LameDuck/build/
/LameDuck/dist/
/LameDuck/nbproject/private

/LameDuckClient/build/
/LameDuckClient/dist/
/LameDuckClient/src/META-INF/
/LameDuckClient/xml-resources/
/LameDuckClient/nbproject/jax-ws.xml
/LameDuckClient/nbproject/jaxws-build.xml
/LameDuckClient/nbproject/private

/NiceView/build/
/NiceView/dist/
/NiceView/nbproject/private

/NiceViewClient/dist/
/NiceViewClient/build/
/NiceViewClient/src/META-INF/
/NiceViewClient/xml-resources/
/NiceViewClient/nbproject/jax-ws.xml
/NiceViewClient/nbproject/jaxws-build.xml
/NiceViewClient/nbproject/private

/TravelGoodBPEL/build/
/TravelGoodBPEL/dist/
/TravelGoodBPEL/nbproject/private/

/TravelGood/nbproject/private/
/TravelGood/build/
/TravelGood/src/jbiServiceUnits/
/TravelGood/dist/

/TravelGoodClient/catalog.xml
/TravelGoodClient/dist/
/TravelGoodClient/build/
/TravelGoodClient/src/META-INF/
/TravelGoodClient/xml-resources/
/TravelGoodClient/nbproject/jax-ws.xml
/TravelGoodClient/nbproject/jaxws-build.xml
/TravelGoodClient/nbproject/private

/TravelGoodRest/build/
/TravelGoodRest/dist/
/TravelGoodRest/nbproject/private/

/TravelGoodRestClient/dist/
/TravelGoodRestClient/build/
/TravelGoodRestClient/src/META-INF/
/TravelGoodRestClient/xml-resources/
/TravelGoodRestClient/nbproject/jax-ws.xml
/TravelGoodRestClient/nbproject/jaxws-build.xml
/TravelGoodRestClient/nbproject/private
/TESTBPEL/nbproject/private/
TESTBPEL/src/TESTBPEL.bpel
TESTBPEL/src/testWSDL.wsdl
TESTBPEL/nbproject/project.properties