/LameDuck/build/
/LameDuck/dist/
/LameDuck/nbproject/private

/LameDuckClient/build/
/LameDuckClient/dist/
/LameDuckClient/nbproject/jax-ws.xml
/LameDuckClient/nbproject/jaxws-build.xml
/LameDuckClient/nbproject/private

/NiceView/build/
/NiceView/dist/
/NiceView/nbproject/private

/NiceViewClient/dist/
/NiceViewClient/build/
/NiceViewClient/nbproject/jax-ws.xml
/NiceViewClient/nbproject/jaxws-build.xml
/NiceViewClient/nbproject/private
